<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/income-statement">Income Statement</a>
        <a mat-list-item routerLink="/balance-sheet">Balance Sheet</a>
        <a mat-list-item routerLink="/journal">Journal</a>
        <a mat-list-item routerLink="/ledger">Ledger</a>
        <a mat-list-item routerLink="/trial-balance">Trial Balance</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  